.single-page-story-container{
    height: 100%;
    width: 100%;
}

.single-story-on-page-container{
    margin: auto;
    margin-top: 1.5rem;
    // margin-bottom: 11.5rem;
    max-width: 68rem;
    height: 40.625rem;
    display: flex;
    @media screen and (max-width: 680px){
        width: 100%;
        height: 100%;
        // margin-bottom: 30.5rem;
        // background: blue;
    }
    

.single-story-main-image{
width: 62%;
max-height: 100%;
border: 1px solid rgba(219,219,219,1);

img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
}
.single-story-not-the-image{
    width: 38%;
    height: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    // align-items:stretch;
    
    border: 1px solid rgba(219,219,219,1);
    @media screen and (max-width:680px){
        display: block;
        width: 100%;
        margin-bottom: 1.2rem;
        // height: 1rem;
        // background: rosybrown;
    }
    
    .story-user-photo-name-2{
    height: 4.8rem;
    display: flex;
    gap: .7rem;
    font-weight: 600;
    padding: 1.065rem;
    border-bottom: 1px solid rgba(219,219,219,1);

        .small-profile-img-story-2{
        display: flex;
        gap: 0.4rem;
        align-items: center;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        align-self: center;
        // padding: 0.02rem;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }    
        span{
            cursor: pointer;
        }
        }
        .story-options{
            align-self: center;
            margin-left: auto;
            cursor: pointer;
        }
        
    }

.single-story-text{
    display: flex;
    gap: 0.4rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    .small-profile-img-story-2-comment{
        // display: inline-block;
        border-radius: 50%;
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        // cursor: pointer;
        // align-self: center;
        // padding: 0 0.6rem;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }    
    }
    p{
        // text-decoration: none;
        height: 100%; 
        overflow-y: scroll;  
    }
    span{
        font-weight: 600;
        cursor: pointer;
    }
}


.single-story-comments{
    overflow-y: scroll;
    // scrollbar-width: thin;
    // height: 100%;
    // overflow: scroll;
    // overflow-wrap:normal;
    // background-color: pink;
    // overflow: hidden;
    .single-story-single-comment{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        .comment-everything-but-like-counter{
        display: flex;
        gap: 0.4rem;
        // justify-content: center;
        // align-items: center;
        padding: .5rem 1rem;

        .small-profile-img-comment{
            max-width: 1.6rem;
            min-width: 1.6rem;
            max-height: 1.6rem;
            min-height: 1.6rem;
            border-radius: 50%;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
        }
        p{
            margin: 0;
            span{
                font-weight: 600;
                cursor: pointer;
                // cursor: initial;
            }
        }
        .delete-like-unlike-comment{
            display: flex;
            gap: 0.2rem;
            margin-left: auto;
            cursor: pointer;
            
            .delete-comment{
            // background-color: rgba(20, 18, 18, 0.1);
            // border: .1rem solid black;
            // border-style:outset ;
            border-radius: 50%;
            font-weight: 600;
            width: 1.6rem;
            color: #262626;
            // align-self: center;
            // margin-right: .4rem;
            // margin-left: auto;
            text-align: center;
            justify-content: center;
            display: none;
            }
        }
    }
    // .single-story-single-comment
    .comment-everything-but-like-counter .delete-like-unlike-comment:hover .delete-comment{
            display: block;
            // background-color: gold;
        }
        
    
    .comment-how-many-likes{
    padding: 0 3rem;
    font-size: 0.84rem;
    font-weight: 550;
    }

// ============ AFTER COMMENTS ===============

    }
    .story-how-many-likes{
        background-color: pink;
    }
}
.story-after-comments{
    margin-top: auto;
    // display: flex;
    // flex-direction: column;
    // padding: 0;
    
    .story-four-icons{
        padding-left: .7rem;
        padding-right: 1rem;
    }
    .story-liked-by{
        padding-left: .7rem;
        padding-right: 1rem;
        span{
            cursor: pointer;
        }
    }    
    .story-how-long-ago{
        padding-left: .7rem;
        padding-right: 1rem;
    }
    
    form{
        padding-left: .7rem;
        padding-right: 1rem;
        textarea{
            // margin-top: auto;
            // //////font-size: .8rem;
            font: 400 13.3333px ;
            width: 100%;
            max-height: 100%;
            padding-top: .9359rem;
            resize: none;
            outline: 0;
            overflow: hidden;
            overflow-wrap: break-word;
            align-items: center;
            justify-content: center;
            background: transparent;
            width: 100%;
            // margin-bottom: 111.5rem;
            // background: blue;
        }
        textarea:focus+button{
             color: #0095f6;
        }
        
    }

}
    
}
}
//===== END OF SINGLE PAGE STORY CONTAINER ============

//========= MEDIA QUERIES =============================

@media screen and (max-width: 680px){
    // *{border: 0;}
    .single-story-on-page-container{
    
    display: flex;
    flex-direction: column;
    // max-width: 100% !important;
    // max-width: none;
    // max-height: none;
    .single-story-main-image{
    
        width: 100%;
        height: 26rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    }




}