
@font-face {
    font-family: 'Instagram Logo regular';
    src: url(../fonts/instagram_logo/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf) format('opentype');
}

@font-face {
    font-family: 'Billabong';
    src: url(../fonts/instagram_logo/FontsFree-Net-Billabong.ttf) format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color:  #fafafa;
    color: #262626;
    position: relative;
}

input, textarea{
    outline: 0;
}    

 img{
     max-width: 100%;
     max-height: 100%;
 }
 //////////temporary, for testing
.img-container{
    max-height: 25rem;
    max-width: 25rem;
    // height: 1rem;
    img{
    object-fit: cover;

    }
}



//============== HEADER ======================

.header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // flex-flow: row-wrap;
        background-color: #fafafa;
        border-bottom: lightgray solid 0.08rem;
        padding: 0.2rem;
        color: #262626;
        position: sticky;
        

        .header-icon{
        max-width: 1.5rem;
        max-height: 1.5rem;
        cursor: pointer;
    }
    .header-logo{
        font-family: 'Instagram Logo regular', sans-serif;
        font-weight: 100;
        font-size: 1.5rem;
        margin: .4rem; 
    }
    
    .header-profile-image-container{
        border-radius: 50%;
        // border: 0.1rem solid black;
        img{
            object-fit: cover;
        }
    }

    img{
        width: 100%;
        height:100%;
        border-radius: 50%;
    }
    .header-search{
        // border: rgba(142,142,142,1); solid 0.08rem;
        // border: rgba(230, 227, 227, 1) solid 0.05rem;
        border: .05rem solid #dbdbdb;
        font-size: 0.9rem;
        padding: 0.4rem 0 0.4rem 0.5rem;
        max-width: 15rem;
        color: #262626;
        border-radius: 3px;
        outline: 0;
        ::placeholder{
            text-align: center;
        }
    } 
    }
    
        .header-flex-1,
        .header-flex-2,
        .header-flex-3{
        display: flex;
        padding: 0;
        margin: 0;
        height: 100%;
        }
        .header-flex-3{
        padding-top: 0.2rem;
        }


//============== FEED ======================

.story-list{
    list-style: none;
    text-align: center;    
}
.single-story-container{
    // max-height: 46.5625rem;
    max-width: 38.375rem;
    border: 1px solid lightgray;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    // background-color: rgba(255, 255, 255, 0.829);
}

.story-user-photo-name{
    // justify-content: left;
    // align-items: center;
    // line-height: 1.2rem;
    // justify-content: center;
    display: flex;
    align-items: center;
    gap: .7rem;
    // margin: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0.7rem;

    .small-profile-img-story{
        // border: 0.1rem solid red;
        // border-radius: 50%;
        width: 2rem;
        height: 2rem;
        align-self: center;
        // padding: 0.02rem;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }

    } 
    
}

.main-image-story{
   max-width: 100%;
    
    img{
        width: 100%;
        // max-height: 46.5625rem;
        max-height: 40.5625rem;
        object-fit: cover;
    }

}

.story-text{
    width: 100%;
    display: flex;
    // margin: 0.2rem;
    padding: 0.3rem;
    // padding-top: 0.3rem;
    // padding-bottom: 0.3rem;
    // padding-left: 0.2rem;
    // padding-right: 0.2rem;
    p{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-break: break-word;
        overflow-wrap: break-word;
        word-wrap: break-all;
        
        span{
            font-weight: 600;
        }
    }
}

.story-comment-like{
    display: flex;
    align-items: center;
    // border-top: 1px solid rgb(231, 219, 201);
    // border-bottom: 1px solid rgb(231, 219, 201);
    padding: 0.3rem;
    gap: 0.5rem;
    // *{
    //     margin-left: .3rem;
    //     margin-right: .3rem;
    // }
    span{
        font-weight: 600;
    }
}
.story-comment-like-icons{
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    // padding: 0.3rem;
}


// .story-like-icon,
// .story-unlike-icon,
// .story-commment-icon{
//     max-width: 1rem;
//     max-height: 1rem;
//     min-width: 1rem;
//     min-height: 1rem;
//     display: inline;
// }

.story-comments{
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
    // border: 1px solid black;
    padding: 0.3rem;
    p{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-break: break-word;
        overflow-wrap: break-word;
        word-wrap: break-all;
        span{
            font-weight: 600;
        }
    }
    .delete-comment{
        margin-left: auto;
        // visibility: hidden;
        display: none;
    }   
}
.story-comments:hover .delete-comment{
display: block;
}

.view-all-comments{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #8e8e8e;
    text-decoration: underline;
    padding: 0.3rem;

}
.story-how-long-ago{
    display: flex;
    align-items: center;
    color: #8e8e8e;
    padding: 0.3rem;
    padding-top: 0.5rem;
}

.story-add-comment{
    width: 100%;
    padding: .3rem;
    display: flex;
    align-items: center;
    // text-align: center;
    // gap: .5rem;
    // form{
    //     width: 100%;
    // }
    input{
        font-size: .8rem;
        max-width: 100%;
        border: none;
        padding: .3rem;
    }
    span{
        font-weight: 601;
    }
    
}




//================================= MEDIA QUERIES =========================

//------------------- HEADER --------------------------


@media screen and (max-width: 415px){
 
 .header-container{
     margin-right: 0.5rem;
     margin-left: 0.5rem;
 }
         .header-flex-1,
        .header-flex-3{
            display: flex;
            gap: .8rem;
        }
}

@media screen and (min-width: 680px){
        
        .header-container{
            margin-right: 1rem;
            margin-left: 1rem;
            // background-color: black;
        }
        .header-flex-1,
        .header-flex-3{
            display: flex;
            gap: 1.1rem;
        }
        
    }
    
    @media screen and (max-width: 680px){
        
        .header-container{
            margin-right: 1rem;
            margin-left: 1rem;
            // background-color: black;
        }
        
        .header-flex-2{
            display: none;
        }
        .header-search{
            display: none;
        }
        .header-flex-1,
        .header-flex-3{
            display: flex;
            gap: 0.8rem;
        }
       }


    
//============== FEED ======================


@media screen and (max-width: 680px){

    .story-list{
        max-width: 100%;
    }
    .single-story-container{
        max-width: 100%;
    }


    .main-image-story{
        max-width: 100%;
         
         img{
             width: 100%;
             // max-height: 46.5625rem;
             max-height: 21.875rem;
            //  max-width: 100%;
             object-fit: cover;
         }
     
     }

}
