//============= IMPORTS ==================

@import 'cmps/app-header.scss';
@import 'pages/following-feed.scss';
@import 'cmps/new-story.scss';
@import 'pages/single-story.scss';
@import 'pages/profile-page.scss';
@import 'pages/login-signup.scss';

@font-face {
    font-family: 'Instagram Logo regular';
    src: url(../fonts/instagram_logo/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf) format('opentype');
}

@font-face {
    font-family: 'Billabong';
    src: url(../fonts/instagram_logo/FontsFree-Net-Billabong.ttf) format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // font-family: Arial, sans-serif;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 0.9357rem;
    // font-size: 14px;  

}

body{
    background-color: #fafafa;
    color: #262626;
    position: relative;
}

input, textarea{
    outline: 0;
}    

 img{
     max-width: 100%;
     max-height: 100%;
 }
 //////////temporary, for testing
// .img-container{
//     max-height: 25rem;
//     max-width: 25rem;
//     // height: 1rem;
//     img{
//     object-fit: cover;

//     }
// }

button {
    cursor: pointer;
    border: 0;
    background: none;
    padding: 0;
}

ul, li{
    list-style: none;
}

span{
    margin: 0;
    padding: 0;
}



//================================= MEDIA QUERIES =========================



